---
import BaseHtml from "@/layout/base-html.astro"
import { getCollection } from "astro:content"

const studyPages = await getCollection("study")

const slugs = [...studyPages.map((page) => page.slug)] as const
type Slug = (typeof slugs)[number]

const order: Slug[] = [
  "white-triangle", // https://wgld.org/d/webgl/w014.html
  "solid-bg", // https://www.shadertoy.com/view/NdySRV
  "resolution-gradient-bg", // https://www.shadertoy.com/view/7sGXzK
  "lerp-2color-bg", // https://www.shadertoy.com/view/NdySR3
  "lerp-3color-bg", // https://www.shadertoy.com/view/fdGXR3
  "bilerp-4color-bg", // https://www.shadertoy.com/view/NsKSDG
  "step-posterization-bg", // https://www.shadertoy.com/view/fsVXWG
  "smooth-step-posterization-bg",
  "polar-gradient-bg", // https://www.shadertoy.com/view/fdKSDG
  "polar-dot-gradient-bg", // https://www.shadertoy.com/view/NdKSDG
  "hsv-color-space-bg", // https://www.shadertoy.com/view/fdVSDG
  "legacy-hash-1d-bg", // https://www.shadertoy.com/view/NsfcDM
  "legacy-hash-2d-bg",
  "plot-linear-func", // https://thebookofshaders.com/05/
  "plot-pow-func",
  "plot-step-func",
  "plot-smoothstep-func",
  "plot-multiple-func-colorful"
]

const orderedStudyPages = order.map((slug) => studyPages.find((page) => page.slug === slug)!!)
---

<BaseHtml title="TOC - WebGL Study Demo">
  <ul>
    {
      orderedStudyPages.map((page) => (
        <li>
          <a href={`/${page.slug}`}>{page.data.title}</a>
        </li>
      ))
    }
  </ul>
</BaseHtml>
