---
import BaseHtml from "@/layout/base-html.astro"
import { getCollection } from "astro:content"

const studyPages = await getCollection("study")

const slugs = [...studyPages.map((page) => page.slug)] as const
type Slug = (typeof slugs)[number]

const order: Slug[] = [
  "white-triangle",
  "solid-bg",
  "resolution-gradient-bg",
  "lerp-2color-bg",
  "lerp-3color-bg",
  "bilerp-4color-bg"
]

const orderedStudyPages = order.map((slug) => studyPages.find((page) => page.slug === slug)!!)
---

<BaseHtml title="TOC - WebGL Study Demo">
  <ul>
    {
      orderedStudyPages.map((page) => (
        <li>
          <a href={`/${page.slug}`}>{page.data.title}</a>
        </li>
      ))
    }
  </ul>
</BaseHtml>
