---
import BaseHtml from "@/layout/base-html.astro"
import { getCollection } from "astro:content"

const studyPages = await getCollection("study")

const slugs = [...studyPages.map((page) => page.slug)] as const
type Slug = (typeof slugs)[number]

const order: Slug[] = [
  "white-triangle", // https://wgld.org/d/webgl/w014.html
  "render-full-screen-trinangle-in-wegbl2", //
  "solid-bg", // https://www.shadertoy.com/view/NdySRV
  "resolution-gradient-bg", // https://www.shadertoy.com/view/7sGXzK
  "lerp-2color-bg", // https://www.shadertoy.com/view/NdySR3
  "lerp-3color-bg", // https://www.shadertoy.com/view/fdGXR3
  "bilerp-4color-bg", // https://www.shadertoy.com/view/NsKSDG
  "step-posterization-bg", // https://www.shadertoy.com/view/fsVXWG
  "smooth-step-posterization-bg",
  "polar-gradient-bg", // https://www.shadertoy.com/view/fdKSDG
  "polar-dot-gradient-bg", // https://www.shadertoy.com/view/NdKSDG
  "hsv-color-space-bg", // https://www.shadertoy.com/view/fdVSDG
  "legacy-hash-1d-bg", // https://www.shadertoy.com/view/NsfcDM
  "legacy-hash-2d-bg",
  "hash-1d-bg", // https://www.shadertoy.com/view/NdXyW7
  "hash-in2d-out2d-bg", // https://www.shadertoy.com/view/fsXyW7
  "hash-in2d-out1d-bg",
  "hash-in3d-out3d-bg",
  "hash-in3d-out1d-bg",
  "value-noise-2to1-bilerp-only-bg", // https://thebookofshaders.com/11/?lan=jp , https://www.shadertoy.com/view/NsXyW7
  "value-noise-2to1-bg",
  "value-noise-3to1-bg",
  "plot-linear-func", // https://thebookofshaders.com/05/?lan=jp
  "plot-pow-func",
  "plot-step-func",
  "plot-smoothstep-func",
  "plot-multiple-func-colorful", // https://thebookofshaders.com/06/?lan=jp,
  "shader-side-of-square", // https://thebookofshaders.com/07/?lan=jp
  "circle-outline-by-glsl-length",
  "circle-outline-by-glsl-dot",
  "sdf-circle-bg", // https://www.shadertoy.com/view/NlXczr
  "sdf-rect-bg", // https://www.shadertoy.com/view/ftfczr
  "sdf-circle-manhattan-distance", // original
  "sdf-circle-chebyshev-distance",
  "sdf-circle-lp-norm"
]

const orderedStudyPages = order.map((slug) => studyPages.find((page) => page.slug === slug)!!)
---

<BaseHtml title="TOC - WebGL Study Demo">
  <ul>
    {
      orderedStudyPages.map((page) => (
        <li>
          <a href={`/${page.slug}`}>{page.data.title}</a>
        </li>
      ))
    }
  </ul>
</BaseHtml>

<style>
  body {
    overflow-y: auto;
    line-height: 2;
  }
</style>
