---
interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css"
      integrity="sha384-vKruj+a13U8yHIkAyGgK1J3ArTLzrFGBbBc0tDp4ad/EyewESeXE/Iv67Aj8gKZ0"
      crossorigin="anonymous"
    />
    <link href="/prism-pastelfairy.css" rel="stylesheet" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  body {
    --color: #354259;
    margin: 0;
    overflow-x: hidden;
    font-family: "Baloo 2", "Zen Maru Gothic";
    color: var(--color);
  }

  body > :not(canvas) {
    padding-inline: 1.5rem;
  }

  h1 {
    line-height: 1.5;
  }

  p {
    margin: 0;
    line-height: 2;
    padding-block: 0.5em;
  }

  ul {
    margin: 1rem;
    list-style-position: inside;
  }

  a {
    color: var(--color);
    text-decoration-thickness: 1px;
    text-underline-offset: 0.25em;
  }

  a:not(:visited) {
    color: #7286d3;
  }

  a:hover {
    text-decoration-style: dotted;
  }

  img {
    width: 90%;
    margin: auto;
    max-width: 800px;
    display: block;
  }
</style>
